<section class="about-intro">
    <div class="about-intro__content">
        <div class="about-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                О компании
            </a>
        </div>
        <div class="about-intro__row">
            <div class="about-intro__text">
                Мы современная компания по производству <b>гибкой полимерной упаковки и компаундов</b>
                <img src="/images/about-intro.webp" alt="">


            </div>
            <a href="#" class="about-intro__video">
                <div class="about-intro__video-image-wrapper">
                    <img src="/images/about-video.webp" alt="" class="about-intro__video-image">
                    <div class="about-intro__video-play">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
                <div class="about-intro__video-title">
                    → Видео о компании
                </div>
            </a>
        </div>
    </div>
    <div class="about-intro__image-container">
        <picture>
            <source srcset="/images/about-intro-image-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/about-intro-image.webp" alt="" class="about-intro__image" />
        </picture>
    </div>
</section>