<section class="numbers">
    <div class="numbers__main-wrapper">
        <div class="numbers__main">
            <div class="numbers__bg">

                <picture>
                    <source srcset="/images/about-numbers-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/about-numbers.webp" alt="" class="numbers__bg-image" />
                </picture>
            </div>

            <div class="numbers__content">
                <div class="numbers__top-row">
                    <h2 class="numbers__heading">
                        Миссия компании
                    </h2>
                    <div class="numbers__text">
                        Сохраняем ваш продукт на основе индивидуальных прогрессивных упаковочных решений и открываем
                        новые
                        возможности полимеров с заботой об окружающем мире
                    </div>
                </div>
                <div class="numbers__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="numbers__slider-card">
                                    <div class="numbers__slider-card-amount">
                                        500+
                                    </div>
                                    <div class="numbers__slider-card-text-content">
                                        <div class="numbers__slider-card-counter">
                                            01
                                        </div>
                                        <h3 class="numbers__slider-card-title">
                                            Человек в команде
                                        </h3>
                                        <div class="numbers__slider-card-text">
                                            Сохраняем ваш продукт на основе индивидуальных прогрессивных упаковочных
                                            решений.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="numbers__slider-card">
                                    <div class="numbers__slider-card-amount">
                                        5
                                    </div>
                                    <div class="numbers__slider-card-text-content">
                                        <div class="numbers__slider-card-counter">
                                            02
                                        </div>
                                        <h3 class="numbers__slider-card-title">
                                            Производственные площадки
                                        </h3>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="numbers__slider-card">
                                    <div class="numbers__slider-card-amount">
                                        500+
                                    </div>
                                    <div class="numbers__slider-card-text-content">
                                        <div class="numbers__slider-card-counter">
                                            03
                                        </div>
                                        <h3 class="numbers__slider-card-title">
                                            Человек в команде
                                        </h3>
                                        <div class="numbers__slider-card-text">
                                            Сохраняем ваш продукт на основе индивидуальных прогрессивных упаковочных
                                            решений.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>