<section class="about-us">
    <div class="about-us__content">
        <h2 class="about-us__heading">
            О нас
        </h2>
        <div class="about-us__row">
            <div class="about-us__left-col">
                <h3 class="about-us__secondary-heading">
                    <b>Наша ключевая<br>
                        ценность</b> — это доверие партнёров и многолетнее сотрудничество.
                </h3>
                <a href="#" class="about-us__presentation">
                    <div class="about-us__presentation-image-container">
                        <img src="/images/about-us-presentation.webp" alt="" class="about-us__presentation-image">
                    </div>
                    Скачать презентацию<br> компании. pdf ↓
                </a>
            </div>
            <div class="about-us__right-col">
                <div class="about-us__text">
                    <p>
                        КЗПМ&mdash; один из&nbsp;лидеров отечественного рынка переработки полимеров, производящий гибкую
                        полимерную
                        упаковку и&nbsp;композиционные материалы. За&nbsp;20&nbsp;лет пройден путь от&nbsp;небольшого
                        производственного
                        предприятия до&nbsp;компании федерального уровня.
                    </p>
                    <p>
                        Сегодня КЗПМ имеет три производственные площадки в&nbsp;Среднем Поволжье и&nbsp;одну площадку
                        в&nbsp;Сибири.За это время предприятия было оснащено самым современным технологическим
                        и&nbsp;лабораторным
                        оборудованием, накоплен значительный опыт и&nbsp;научно-технический потенциал, благодаря чему
                        сегодня
                        разрабатываются и&nbsp;производятся современные продукты и&nbsp;адаптированные решения для
                        сектора химии
                        и&nbsp;нефтехимии, строительной индустрии, агропромышленного комплекса, логистического сектора,
                        пищевой индустрии.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>