<section class="additional-links">
    <div class="additional-links__content">
        <h2 class="additional-links__heading">
            Дополнительные<br> ссылки
        </h2>
        <ul class="additional-links__list">
            <li class="additional-links__list-item">
                <a href="#" class="additional-links__card">
                    <div class="additional-links__card-top-row">
                        <h3 class="additional-links__card-title">
                            Надежные решения в <b>гибкой полимерной упаковке</b>
                        </h3>
                        <div class="additional-links__card-image-container">
                            <img src="/images/additional-links/1.webp" alt="" class="additional-links__card-image">
                        </div>
                    </div>
                    <div class="additional-links__card-text">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>Смотреть все товары (52)
                    </div>
                </a>
            </li>
            <li class="additional-links__list-item">
                <a href="#" class="additional-links__card">
                    <div class="additional-links__card-top-row">
                        <h3 class="additional-links__card-title">
                            Присоединяйся<br>
                            к команде КЗПМ
                        </h3>
                        <div class="additional-links__card-image-container">
                            <img src="/images/additional-links/2.webp" alt="" class="additional-links__card-image">
                        </div>
                    </div>
                    <div class="additional-links__card-text">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>Смотреть все вакансии (6)
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>