<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Контакты
            </a>

        </div>
        <div class="contacts__top-row">
            <h1 class="contacts__heading">
                Контакты
            </h1>
            <div class="contacts__tabs-nav">
                <ul class="contacts__tabs-nav-list">
                    <li class="contacts__tabs-nav-list-item">
                        <a href="#" class="contacts__tabs-nav-link active">
                            Головной офис
                        </a>
                    </li>
                    <li class="contacts__tabs-nav-list-item">
                        <a href="#" class="contacts__tabs-nav-link">
                            Производственные площадки
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contacts__tabs">
            <div class="contacts__tabs-item active">
                <div class="contacts__offices">
                    <div class="contacts__main-office">
                        <div class="contacts__main-office-top-row">
                            <div class="contacts__main-office-city">
                                <h3 class="contacts__main-office-city-title">
                                    Город:
                                </h3>
                                <div class="contacts__main-office-city-name">
                                    г. Нижнекамск
                                </div>
                            </div>
                            <ul class="contacts__main-office-contacts-list">
                                <li class="contacts__main-office-contacts-list-item">
                                    <h3 class="contacts__main-office-contacts-title">
                                        Связаться с нами:
                                    </h3>
                                    <a href="tel:+78555244111" class="contacts__main-office-contacts-link">
                                        + 7 (8555) 244-111
                                    </a>
                                </li>
                                <li class="contacts__main-office-contacts-list-item">
                                    <h3 class="contacts__main-office-contacts-title">
                                        Написать нам:
                                    </h3>
                                    <a href="mailto:mail@kzpm.com"
                                        class="contacts__main-office-contacts-link contacts__main-office-contacts-link--purple">
                                        mail@kzpm.com
                                    </a>
                                </li>
                                <li class="contacts__main-office-contacts-list-item">
                                    <h3 class="contacts__main-office-contacts-title">
                                        Написать нам:
                                    </h3>
                                    <div class="contacts__main-office-contacts-address">
                                        ул. Заводская, д. 48Б
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="contacts__main-office-map-wrapper" data-lat="55.577648" data-lng="51.832810"
                            data-address="ул. Заводская, д. 48Б" data-zoom="14"
                            data-show-on-map="https://yandex.ru/maps/?pt=55.577648,51.832810">
                            <div class="contacts__main-office-map-element" id="contacts-map">

                            </div>
                        </div>
                    </div>
                    <ul class="contacts__departments-list">
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Служба персонала
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:personal@kzpm.com"
                                        class="contacts__departments-card-email-link">personal@kzpm.com</a>
                                    <a href="#" class="contacts__departments-card-vacancies">
                                        → Вакансии
                                    </a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244106" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-106</a>
                                    <a href="tel:+79274503030" class="contacts__departments-card-phone">+7 (927)
                                        450 30 30</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Отдел продаж
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:mail@kzpm.com"
                                        class="contacts__departments-card-email-link">mail@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244166" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-166</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Техническая дирекция
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:mail@kzpm.com"
                                        class="contacts__departments-card-email-link">mail@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244170" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-170</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Транспортно-логистический отдел
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:logistic@kzpm.com"
                                        class="contacts__departments-card-email-link">logistic@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244127" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-127</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Отдел материально-технического снабжения
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:snab@kzpm.com"
                                        class="contacts__departments-card-email-link">lsnab@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244123" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-123</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Бухгалтерия
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:mail@kzpm.com"
                                        class="contacts__departments-card-email-link">mail@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244105" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-105</a>
                                </div>
                            </div>
                        </li>
                        <li class="contacts__departments-list-item">
                            <div class="contacts__departments-card">
                                <h3 class="contacts__departments-card-title">
                                    Отдел маркетинга
                                </h3>
                                <div class="contacts__departments-card-emails">
                                    <a href="mailto:market@kzpm.com"
                                        class="contacts__departments-card-email-link">market@kzpm.com</a>
                                </div>
                                <div class="contacts__departments-card-phones">
                                    <a href="tel:+78555244171" class="contacts__departments-card-phone">+ 7 (8555)
                                        244-171</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts__tabs-item">
                <ul class="contacts__production-list">
                    <li class="contacts__production-list-item">
                        <div class="contacts__production-card">
                            <div class="contacts__production-card-city">
                                <div class="contacts__production-card-city-title">
                                    Город:
                                </div>
                                <div class="contacts__production-card-city-name">
                                    г. Казань
                                </div>
                            </div>
                            <div class="contacts__production-card-address">
                                <div class="contacts__production-card-address-title">
                                    Адрес:
                                </div>
                                <div class="contacts__production-card-address-text">
                                    ул. Химическая, д.16, а/я 64
                                </div>
                            </div>
                            <div class="contacts__production-card-warehouse">
                                <div class="contacts__production-card-warehouse-wrapper">
                                    <div class="contacts__production-card-warehouse-title">
                                        Склад
                                    </div>
                                    <div class="contacts__production-card-warehouse-info">
                                        <p>
                                            ул. Северо-западная, д.14
                                        </p>
                                        <a href="tel:+79270415087">
                                            +7 (927-041)-50-87
                                        </a>
                                    </div>
                                </div>
                                <a href="#" class="contacts__production-card-warehouse-route">
                                    → Проложить маршрут
                                </a>
                            </div>
                            <div class="contacts__production-card-personnel">
                                <div class="contacts__production-card-personnel-title">
                                    Служба персонала:
                                </div>
                                <div class="contacts__production-card-personnel-links">
                                    <a href="mailto:info@kzpm.com">
                                        info@kzpm.com
                                    </a>
                                    <a href="tel:+78435720102">
                                        +7 (843-572)-01-02
                                    </a>
                                    <a href="tel:+79375970040">+7 (937-597)-00-40</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contacts__production-list-item">
                        <div class="contacts__production-card">
                            <div class="contacts__production-card-city">
                                <div class="contacts__production-card-city-title">
                                    Город:
                                </div>
                                <div class="contacts__production-card-city-name">
                                    г. Самара
                                </div>
                            </div>
                            <div class="contacts__production-card-address">
                                <div class="contacts__production-card-address-title">
                                    Адрес:
                                </div>
                                <div class="contacts__production-card-address-text">
                                    ул. Литвинова, д. 383, Ц
                                </div>
                            </div>
                            <div class="contacts__production-card-warehouse">
                                <div class="contacts__production-card-warehouse-wrapper">
                                    <div class="contacts__production-card-warehouse-title">
                                        Склад
                                    </div>
                                    <div class="contacts__production-card-warehouse-info">

                                        <a href="tel:+79270415087">
                                            +7 (927-041)-50-87
                                        </a>
                                    </div>
                                </div>
                                <a href="#" class="contacts__production-card-warehouse-route">
                                    → Проложить маршрут
                                </a>
                            </div>
                            <div class="contacts__production-card-personnel">
                                <div class="contacts__production-card-personnel-title">
                                    Служба персонала:
                                </div>
                                <div class="contacts__production-card-personnel-links">
                                    <a href="mailto:personal.kzn@kzpm.com">
                                        personal.kzn@kzpm.com
                                    </a>
                                    <a href="tel:+79375970040">
                                        +7 (937-597) 00 40
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contacts__production-list-item">
                        <div class="contacts__production-card">
                            <div class="contacts__production-card-city">
                                <div class="contacts__production-card-city-title">
                                    Город:
                                </div>
                                <div class="contacts__production-card-city-name">
                                    г. Тобольск
                                </div>
                            </div>
                            <div class="contacts__production-card-address">
                                <div class="contacts__production-card-address-title">
                                    Адрес:
                                </div>
                                <div class="contacts__production-card-address-text">
                                    Восточный промышленный,<br> кв. 8, уч. 2А
                                </div>
                            </div>
                            <div class="contacts__production-card-warehouse">
                                <div class="contacts__production-card-warehouse-wrapper">
                                    <div class="contacts__production-card-warehouse-title">
                                        Склад
                                    </div>
                                    <div class="contacts__production-card-warehouse-info">
                                        <a href="tel:+79223969930">
                                            +7 (922-396)-99-30
                                        </a>
                                    </div>
                                </div>
                                <a href="#" class="contacts__production-card-warehouse-route">
                                    → Проложить маршрут
                                </a>
                            </div>
                            <div class="contacts__production-card-personnel">
                                <div class="contacts__production-card-personnel-title">
                                    Служба персонала:
                                </div>
                                <div class="contacts__production-card-personnel-links">
                                    <a href="mailto:personal.kzn@kzpm.com">
                                        personal.kzn@kzpm.com
                                    </a>
                                    <a href="tel:+79274503030">
                                        +7 (927-450) 30 30
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>