<section class="docs">
    <div class="docs__content">
        <h2 class="docs__heading">
            Полезное
        </h2>
        <div class="docs__heading-text">
            Здесь Вы можете скачать документы компании
        </div>
        <div class="docs__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/images/docs/1.webp" class="docs__slider-card" data-fancybox="docs">
                            <h3 class="docs__slider-card-title">
                                ИНН
                                <span class="docs__slider-card-format">
                                    .pdf
                                </span>
                            </h3>
                            <div class="docs__slider-card-image-container">
                                <img src="/images/docs/1.webp" alt="" class="docs__slider-card-image" loading="lazy">
                            </div>
                            <div class="docs__slider-card-search">
                                Увеличить
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/docs/2.webp" class="docs__slider-card" data-fancybox="docs">
                            <h3 class="docs__slider-card-title">
                                ОГРН
                                <span class="docs__slider-card-format">
                                    .pdf
                                </span>
                            </h3>
                            <div class="docs__slider-card-image-container">
                                <img src="/images/docs/2.webp" alt="" class="docs__slider-card-image" loading="lazy">
                            </div>
                            <div class="docs__slider-card-search">
                                Увеличить
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/docs/3.webp" class="docs__slider-card" data-fancybox="docs">
                            <h3 class="docs__slider-card-title">
                                Карта партнера
                                <span class="docs__slider-card-format">
                                    .pdf
                                </span>
                            </h3>
                            <div class="docs__slider-card-image-container">
                                <img src="/images/docs/3.webp" alt="" class="docs__slider-card-image" loading="lazy">
                            </div>
                            <div class="docs__slider-card-search">
                                Увеличить
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/docs/4.webp" class="docs__slider-card" data-fancybox="docs">
                            <h3 class="docs__slider-card-title">
                                Карта партнера eng.
                                <span class="docs__slider-card-format">
                                    .pdf
                                </span>
                            </h3>
                            <div class="docs__slider-card-image-container">
                                <img src="/images/docs/4.webp" alt="" class="docs__slider-card-image" loading="lazy">
                            </div>
                            <div class="docs__slider-card-search">
                                Увеличить
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/docs/5.webp" class="docs__slider-card" data-fancybox="docs">
                            <h3 class="docs__slider-card-title">
                                Устав
                                <span class="docs__slider-card-format">
                                    .pdf
                                </span>
                            </h3>
                            <div class="docs__slider-card-image-container">
                                <img src="/images/docs/5.webp" alt="" class="docs__slider-card-image" loading="lazy">
                            </div>
                            <div class="docs__slider-card-search">
                                Увеличить
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="docs__arrows-wrapper">
                <div class="docs__arrows">
                    <button class="docs__arrows-btn docs__arrows-btn--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="docs__arrows-btn docs__arrows-btn--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>