<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__wrapper-inner">
            <div class="page-footer__top">
                <div class="page-footer__top-bg">
                    <picture>
                        <source srcset="/images/footer-bg-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/footer-bg.webp" alt="" class="page-footer__top-bg-image" />
                    </picture>
                </div>
                <div class="page-footer__top-content">
                    <div class="page-footer__text">
                        Мы поможет вам с любыми вопросами. Просто заполните форму, и мы свяжемся с вами!
                    </div>
                    <form action="/" method="POST" class="page-footer__form">
                        <h2 class="page-footer__form-heading">
                            Получите экспертную консультацию о нашей продукции
                        </h2>
                        <div class="page-footer__form-fields">
                            <div class="page-footer__form-field">
                                <div class="page-footer__form-input-wrapper">
                                    <input type="text" name="your-name" class="page-footer__form-input"
                                        placeholder="Имя">
                                </div>
                            </div>
                            <div class="page-footer__form-field">
                                <div class="page-footer__form-input-wrapper">
                                    <input type="tel" name="your-phone" class="page-footer__form-input"
                                        placeholder="+7 (999) 999 99 99">
                                </div>
                            </div>
                            <div class="page-footer__form-field">
                                <div class="page-footer__form-input-wrapper">
                                    <input type="text" name="your-company" class="page-footer__form-input"
                                        placeholder="Название организации">
                                </div>
                            </div>
                        </div>
                        <button class="page-footer__submit" type="submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            <div class="page-footer__bottom">
                <div class="page-footer__bottom-content">
                    <div class="page-footer__nav">
                        <h3 class="page-footer__nav-title">
                            Навигация
                        </h3>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Продукция и решения
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    О компании
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Карьера
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Пресс-центр
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__contacts">
                        <div class="page-footer__contacts-block">
                            <h3 class="page-footer__contacts-block-title">
                                Отдел продаж
                            </h3>
                            <a href="tel:+78555244124" class="page-footer__contacts-block-link">+7 (8555) 244-124</a>
                        </div>
                        <div class="page-footer__contacts-block">
                            <h3 class="page-footer__contacts-block-title">
                                Почта
                            </h3>
                            <a href="mailto:mail@kzpm.com" class="page-footer__contacts-block-link">mail@kzpm.com</a>
                        </div>
                        <div class="page-footer__contacts-block">
                            <h3 class="page-footer__contacts-block-title">
                                Головной офис
                            </h3>
                            <div class="page-footer__contacts-block-text">
                                Россия, г. Нижнекамск, ул.<br> Заводская, 48Б
                            </div>
                        </div>
                    </div>
                    <div class="page-footer__copyright-wrapper">
                        <div class="page-footer__copyright">
                            © KZPM 2023
                        </div>
                        <a href="#" class="page-footer__policy">
                            Политика конфиденциальности
                        </a>
                    </div>
                    <div class="page-footer__presentation-wrapper">
                        <a href="#" class="page-footer__presentation">
                            Скачать презентацию<br> компании ↓
                        </a>
                        {{!-- <a href="#" class="page-footer__sout">
                    СОУТ
                </a> --}}
                    </div>
                    <a href="#" class="page-footer__made-by">
                        Сайт от Mark Weber
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>