<section class="geography">
    <div class="geography__content">
        <h2 class="geography__heading">
            География продаж
        </h2>
        <div class="geography__heading-text">
            Сегодня КЗМП имеет широкую географию продаж
        </div>
        <div class="geography__map">
            <div class="geography__map-wrapper">
                <img src="/images/map.webp" alt="" class="geography__map-image">
                <div class="geography__map-point" style="left: 8%; top: 65%;">
                    <div class="geography__map-point-marker">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-city">
                                г. Самара
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: 443109, Россия, г. Самара, поселок Зубчаниновка, ул. Литвинова, д. 383, литер Ц
                            </div>
                            <a href="tel:+79375970040" class="geography__map-point-phone">Тел.: +7 937 597 00 40</a>
                        </div>
                    </div>
                </div>
                <div class="geography__map-point" style="left: 10%; top: 61%;">
                    <div class="geography__map-point-marker">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-city">
                                г. Самара
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: 443109, Россия, г. Самара, поселок Зубчаниновка, ул. Литвинова, д. 383, литер Ц
                            </div>
                            <a href="tel:+79375970040" class="geography__map-point-phone">Тел.: +7 937 597 00 40</a>
                        </div>
                    </div>
                </div>
                <div class="geography__map-point" style="left: 8%; top: 53%;">
                    <div class="geography__map-point-marker">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-city">
                                г. Самара
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: 443109, Россия, г. Самара, поселок Зубчаниновка, ул. Литвинова, д. 383, литер Ц
                            </div>
                            <a href="tel:+79375970040" class="geography__map-point-phone">Тел.: +7 937 597 00 40</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="geography__map-cities">
            <div class="geography__map-cities-title">
                Поставляем
            </div>
            <ul class="geography__map-cities-list">
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city geography__map-city--purple">
                        30+ городов России
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Беларусь
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Польша
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Казахстан
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Узбекистан
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Туркменистан
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>