<section class="geography">
    <div class="geography__content">
        <h2 class="geography__heading">
            География продаж
        </h2>
        <div class="geography__heading-text">
            Сегодня КЗМП имеет широкую географию продаж
        </div>
        <div class="geography__map">
            <div class="geography__map-wrapper">
                <img src="/images/map.svg" alt="" class="geography__map-image">
                <div class="geography__map-point" style="left: 21.5%; top: 54%;">
                    <div class="geography__map-point-marker --left" data-label="Казань">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-label">
                                Производственная площадка
                            </div>
                            <div class="geography__map-point-city">
                                г. Казань
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: ул. Химическая 16
                            </div>
                            <div class="geography__map-point-contact">
                                <div class="geography__map-point-contact-name">Головной офис</div>
                                <a href="tel:+79375970040" class="geography__map-point-contact-phone">Тел.: +7 937 597 00 40</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="geography__map-point" style="left: 23.3%; top: 56%;">
                    <div class="geography__map-point-marker" data-label="Нижнекамск">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-label">
                                Производственная площадка
                            </div>
                            <div class="geography__map-point-city">
                                г. Нижнекамск
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: ул. Заводская 48Б
                            </div>
                        </div>
                    </div>
                </div>
                <div class="geography__map-point" style="left: 35.5%; top: 58.5%;">
                    <div class="geography__map-point-marker --right" data-label="Тобольск">

                    </div>
                    <div class="geography__map-point-dropdown">
                        <div class="geography__map-point-dropdown-inner">
                            <button class="geography__map-point-close">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                            <div class="geography__map-point-label">
                                Производственная площадка
                            </div>
                            <div class="geography__map-point-city">
                                г. Тобольск
                            </div>
                            <div class="geography__map-point-address">
                                Адрес: Восточный промышленный район, 8-й квартал, участок 2А
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="geography__map-cities">
            <div class="geography__map-cities-title">
                Поставляем
            </div>
            <ul class="geography__map-cities-list">
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city geography__map-city--purple">
                        30+ городов России
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Беларусь
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Польша
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Казахстан
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Узбекистан
                    </div>
                </li>
                <li class="geography__map-cities-list-item">
                    <div class="geography__map-city">
                        Туркменистан
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
