<header class="page-header">
    <div class="page-header__content">
        <a href="./index.html" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="./catalog.html" class="page-header__nav-link">
                            Продукция и решения
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-header__nav">
                <ul class="page-header__nav-list">
                    {{!-- <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Услуги
                        </a>
                    </li> --}}
                    <li class="page-header__nav-list-item">
                        <a href="./about.html" class="page-header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="./career.html" class="page-header__nav-link">
                            Карьера
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="./news.html" class="page-header__nav-link">
                            Пресс-центр
                        </a>
                    </li>
                </ul>
            </div>

            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#lang"></use>
                    </svg>
                    Eng
                </a>
            </div>

            <div class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="./contacts.html" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
        </button>
    </div>
</header>
