<section class="numbers">
    <div class="numbers__main">
        <div class="numbers__bg">
            <img src="/images/numbers-bg.webp" alt="" class="numbers__bg-image">
        </div>
        <div class="numbers__content">
            <div class="numbers__top-row">
                <h2 class="numbers__heading">
                    Камский завод полимерных материалов
                </h2>
                <div class="numbers__text">
                    Один из лидеров отечественного рынка переработки полимеров производящий гибкую полимерную упаковку и
                    композиционные материалы.
                </div>
            </div>
            <div class="numbers__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <div class="numbers__slider-card-amount">
                                    35 000
                                </div>
                                <div class="numbers__slider-card-text-content">
                                    <div class="numbers__slider-card-counter">
                                        01
                                    </div>
                                    <h3 class="numbers__slider-card-title">
                                        Тонн продукции в год
                                    </h3>
                                    <div class="numbers__slider-card-text">
                                        Надежное и безопасное решение для групповой палетной упаковки без
                                        термовоздействия.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <div class="numbers__slider-card-amount">
                                    80%
                                </div>
                                <div class="numbers__slider-card-text-content">
                                    <div class="numbers__slider-card-counter">
                                        02
                                    </div>
                                    <h3 class="numbers__slider-card-title">
                                        Занимаем рынка
                                    </h3>
                                    <div class="numbers__slider-card-text">
                                        по производству FFS и Stretch hood упаковка
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <div class="numbers__slider-card-amount">
                                    35 000
                                </div>
                                <div class="numbers__slider-card-text-content">
                                    <div class="numbers__slider-card-counter">
                                        03
                                    </div>
                                    <h3 class="numbers__slider-card-title">
                                        Тонн продукции в год
                                    </h3>
                                    <div class="numbers__slider-card-text">
                                        Надежное и безопасное решение для групповой палетной упаковки без
                                        термовоздействия.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="numbers__more-wrapper">
        <div class="numbers__more-wrapper-content">
            <a href="#" class="numbers__more-link">
                <span>→</span> Подробнее о компании
            </a>
        </div>
    </div>

</section>