<section class="intro">
    <div class="intro__bg">
        <div class="intro__bg-layer">
            <picture>
                <source srcset="/images/intro-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/intro-bg.webp" alt="" class="intro__bg-image" />
            </picture>
            <div class="intro__bg-video-wrapper --overlay">
                <video data-src="/video/bg-video.mp4" muted="" autoplay="" playsinline="" loop="" class="intro__bg-image js-bg-video"></video>
            </div>
        </div>
        <div class="intro__bg-layer">
            <picture>
                <source srcset="/images/intro-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/intro-bg.webp" alt="" class="intro__bg-image" />
            </picture>
            <div class="intro__balls js-bg-balls">

            </div>
        </div>
    </div>
    <div class="intro__top">

    </div>
    <div class="intro__overlay">
        <div class="intro__overlay-content">
            <div class="intro__top-row">
                <div class="intro__text-wrapper">
                    <div class="intro__text">
                        Открываем новые возможности полимеров c <span>заботой об окружающем мире</span>
                    </div>
                    <div class="intro__text-normal">
                        Открываем новые возможности полимеров c
                    </div>
                </div>
                <div class="intro__slider">
                    <div class="intro__slider-inner">
                        <div class="intro__slider-left-col">
                            <div class="intro__slider-text-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="intro__slider-text-card">
                                                20 лет Камскому заводу полимерных материалов. <b>Поздравляем коллег
                                                    и партнеров!</b>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="intro__slider-text-card">
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. At error iste
                                                culpa atque neque architecto? <b>Lorem ipsum dolor sit amet.</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="intro__slider-controls">
                                <button class="intro__slider-arrow intro__slider-arrow--prev">
                                    ←
                                </button>
                                <div class="intro__slider-pagination">
                                    1 / 4
                                </div>
                                <button class="intro__slider-arrow intro__slider-arrow--next">
                                    →
                                </button>
                            </div>
                        </div>
                        <div class="intro__slider-right-col">
                            <div class="intro__slider-image-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="intro__slider-image-card">
                                                <img src="/images/intro-slider.webp" alt=""
                                                    class="intro__slider-image-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="intro__slider-image-card">
                                                <img src="/images/join/1.webp" alt=""
                                                    class="intro__slider-image-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> header }}

    <div class="intro__bottom">
        <div class="intro__bottom-content">
            <div class="intro__bottom-nav">
                <a href="#" class="intro__bottom-nav-link active">
                    <div class="intro__bottom-nav-link-content">
                        <h3 class="intro__bottom-nav-link-title">
                            Полимерные пленки
                        </h3>
                        <div class="intro__bottom-nav-link-text">
                            Многослойная полиэтиленовая пленка
                        </div>
                    </div>
                    <div class="intro__bottom-nav-link-image-container">
                        <div class="intro__bottom-nav-link-image-container-inner">
                            <img src="/images/intro/1.webp" alt="" class="intro__bottom-nav-link-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="intro__bottom-nav-link">
                    <div class="intro__bottom-nav-link-content">
                        <h3 class="intro__bottom-nav-link-title">
                            Компаунды
                        </h3>
                        <div class="intro__bottom-nav-link-text">
                            Многослойная полиэтиленовая пленка
                        </div>
                    </div>
                    <div class="intro__bottom-nav-link-image-container">
                        <div class="intro__bottom-nav-link-image-container-inner">
                            <img src="/images/intro/2.webp" alt="" class="intro__bottom-nav-link-image">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
