<section class="join">
    <div class="join__content">
        <h2 class="join__heading">
            Карьера
        </h2>
        <div class="join__top-row">
            <div class="join__text-content">
                <h3 class="join__secondary-heading">
                    Присоединяйся к команде КЗПМ
                </h3>
                <div class="join__text">
                    Вдохновляющие задачи, отзывчивый и дружный коллектив, прозрачная система мотивации
                </div>
            </div>
            <div class="join__cards">
                <a href="#" class="join__card">
                    <h4 class="join__card-title">
                        Подробнее о карьере в компании
                    </h4>
                    <div class="join__card-bottom-row">
                        <div class="join__card-url">
                            kzpm.com/career/
                        </div>
                        <div class="join__card-arrow">
                            →
                        </div>
                    </div>
                </a>
                <a href="#" class="join__card">
                    <h4 class="join__card-title">
                        Смотреть вакансии на hh.ru
                    </h4>
                    <div class="join__card-bottom-row">
                        <div class="join__card-url">
                            hh.ru
                        </div>
                        <div class="join__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                            <img src="/images/hh.webp" alt="" class="join__card-arrow-image">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="join__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="join__slider-card">
                            <img src="/images/join/1.webp" alt="" class="join__slider-card-image" loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="join__slider-card">
                            <img src="/images/join/2.webp" alt="" class="join__slider-card-image" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>