<div class="career-modal js-modal" id="career-modal" data-lenis-prevent="">
    <div class="career-modal__inner">
        <button class="career-modal__close js-modal-close">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40" cy="40" r="39.5" stroke="currentColor" stroke-dasharray="6 6" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M42.1195 40L53.0588 29.0607L50.9375 26.9393L39.9982 37.8787L29.0588 26.9393L26.9375 29.0607L37.8768 40L26.9375 50.9393L29.0588 53.0606L39.9982 42.1213L50.9375 53.0606L53.0588 50.9393L42.1195 40Z"
                    fill="currentColor" />
            </svg>
        </button>
        <div class="career-modal__top">
            <div class="career-modal__top-row">
                <div class="career-modal__city">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#location"></use>
                    </svg>
                    Нижнекамск
                </div>
                <div class="career-modal__tags">
                    <div class="career-modal__tag">
                        Без опыта
                    </div>
                    <div class="career-modal__tag">
                        Лаборатория
                    </div>
                </div>
            </div>
            <h3 class="career-modal__title">
                Инженер по качеству (СМК)
            </h3>
            <div class="career-modal__salary">
                от 150 000 ₽
            </div>
        </div>
        <div class="career-modal__bottom">
            <div class="career-modal__blocks">
                <div class="career-modal__block">
                    <h4 class="career-modal__block-title">
                        Что мы предлагаем
                    </h4>
                    <ul class="career-modal__block-list">
                        <li class="career-modal__block-list-item">
                            Трудоустройство по ТК РФ, испытательный срок 3 месяца;
                        </li>
                        <li class="career-modal__block-list-item">
                            Заработная 2 раза в месяц;
                        </li>
                        <li class="career-modal__block-list-item">
                            Компенсация питания;
                        </li>
                        <li class="career-modal__block-list-item">
                            Компенсация затрат на проезд до / с места работы;
                        </li>
                        <li class="career-modal__block-list-item">
                            40-часовая рабочая неделя, 8 часовой рабочий день, выходные: суббота, воскресенье.
                        </li>
                    </ul>
                </div>
                <div class="career-modal__block">
                    <h4 class="career-modal__block-title">
                        Функциональные обязанности
                    </h4>
                    <ul class="career-modal__block-list">
                        <li class="career-modal__block-list-item">
                            Ведение/развитие текущих клиентов;
                        </li>
                        <li class="career-modal__block-list-item">
                            Ежедневная подготовка КП для новых/текущих;
                        </li>
                        <li class="career-modal__block-list-item">
                            Коммуникация с клиентами, проработка запроса от менеджера группы;
                        </li>
                        <li class="career-modal__block-list-item">
                            Коммуникация с производством и другими подразделениями по созданию СТМ;
                        </li>
                        <li class="career-modal__block-list-item">
                            Работа в Битрикс.
                        </li>
                    </ul>
                </div>
                <div class="career-modal__block">
                    <h4 class="career-modal__block-title">
                        Требования
                    </h4>
                    <ul class="career-modal__block-list">
                        <li class="career-modal__block-list-item">
                            Успешный опыт продаж на рынке FMCG в должности Супервайзер, TSM, КАМ;
                        </li>
                        <li class="career-modal__block-list-item">
                            Успешный опыт по схеме работы с клиентом визит-заказ;
                        </li>
                        <li class="career-modal__block-list-item">
                            Отличное знание ПК, офисных приложений;
                        </li>
                        <li class="career-modal__block-list-item">
                            Опыт продаж на рынке бытовой химии, непродовольственных товаров, товаров для дома (является
                            преимуществом).
                        </li>

                    </ul>
                </div>
            </div>
            <a href="#career-form-modal" class="career-modal__link">
                <span class="career-modal__link-icon">
                    →
                </span>
                Откликнуться
            </a>
        </div>
    </div>
</div>
<div class="career-modal js-modal" id="career-form-modal" data-lenis-prevent="">
    <div class="career-modal__inner career-modal__inner--form">
        <button class="career-modal__close js-modal-close">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40" cy="40" r="39.5" stroke="currentColor" stroke-dasharray="6 6" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M42.1195 40L53.0588 29.0607L50.9375 26.9393L39.9982 37.8787L29.0588 26.9393L26.9375 29.0607L37.8768 40L26.9375 50.9393L29.0588 53.0606L39.9982 42.1213L50.9375 53.0606L53.0588 50.9393L42.1195 40Z"
                    fill="currentColor" />
            </svg>
        </button>
        <div class="career-modal__top">

            <h3 class="career-modal__title">
                Заполните форму и мы рассмотрим вашу заявку в ближайшее время
            </h3>

        </div>
        <div class="career-modal__bottom career-modal__bottom--grey">
            <form action="/" method="POST" class="career-modal__form js-form">
                <div class="career-modal__form-fields">
                    <div class="career-modal__form-field">
                        <div class="career-modal__form-input-wrapper">
                            <input type="text" class="career-modal__form-input" placeholder="Имя" required="">
                        </div>
                    </div>
                    <div class="career-modal__form-field">
                        <div class="career-modal__form-input-wrapper">
                            <input type="tel" class="career-modal__form-input" placeholder="Телефон" required="">
                        </div>
                    </div>
                    <div class="career-modal__form-field">
                        <div class="career-modal__form-input-wrapper">
                            <input type="email" class="career-modal__form-input" placeholder="Почта" required="">
                        </div>
                    </div>
                </div>
                <div class="career-modal__form-select js-select" data-placeholder="Город" data-required-select="">
                    <button class="career-modal__form-select-btn" type="button">
                        <span class="career-modal__form-select-btn-text">
                            Город
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#select-arrow"></use>
                        </svg>
                    </button>
                    <div class="career-modal__form-select-dropdown">
                        <div class="career-modal__form-select-dropdown-inner">
                            <label class="career-modal__form-select-checkbox">
                                <input type="radio" name="city" value="Нижнекамск"
                                    class="career-modal__form-select-checkbox-input">

                                <span class="career-modal__form-select-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="career-modal__form-select-checkbox-text">
                                    Нижнекамск
                                </span>
                            </label>
                            <label class="career-modal__form-select-checkbox">
                                <input type="radio" name="city" value="Казань"
                                    class="career-modal__form-select-checkbox-input">

                                <span class="career-modal__form-select-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="career-modal__form-select-checkbox-text">
                                    Казань
                                </span>
                            </label>
                            <label class="career-modal__form-select-checkbox">
                                <input type="radio" name="city" value="Тобольск"
                                    class="career-modal__form-select-checkbox-input">

                                <span class="career-modal__form-select-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="career-modal__form-select-checkbox-text">
                                    Тобольск
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <label class="career-modal__form-file js-file-upload">
                    <input type="file" class="career-modal__form-file-input">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#file"></use>
                    </svg>
                    <span class="career-modal__form-file-text">
                        <span class="career-modal__form-file-text-inner js-file-upload-text">
                            Прикрепить анкету.pdf
                        </span>
                    </span>
                </label>
                <button class="career-modal__form-submit" type="submit">
                    Отправить отклик
                </button>
                <div class="career-modal__form-success">
                    Форма успешно отправлена
                </div>
                <div class="career-modal__form-error">
                    Произошла ошибка при отправке
                </div>
            </form>
        </div>
    </div>
</div>