<section class="news">
    <div class="news__content">
        <div class="news__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Пресс-центр
            </a>
        </div>
        <h1 class="news__heading">
            Пресс-центр
        </h1>
        <div class="news__row">
            <div class="news__categories">
                <ul class="news__categories-list">
                    <li class="news__categories-list-item">
                        <a href="#" class="news__categories-link active">
                            Новости
                        </a>
                    </li>
                    <li class="news__categories-list-item">
                        <a href="#" class="news__categories-link">
                            Сми о нас
                        </a>
                    </li>
                    <li class="news__categories-list-item">
                        <a href="#" class="news__categories-link">
                            Медиагалерея
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news__social">
                <h3 class="news__social-heading">
                    Читайте нас также
                </h3>
                <ul class="news__social-list">
                    <li class="news__social-list-item">
                        <a href="#" class="news__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="news__social-list-item">
                        <a href="#" class="news__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="news__list">
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <div class="press-center__card-logo">
                        <img src="images/news/logo.png" alt="logo">
                    </div>
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        Чем КЗПМ порадует гостей выставки interplastica 2022?
                    </h3>
                    <div class="press-center__card-date">
                        29 авг
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        Легкоплавкая и тисненая пленка КЗПМ — тандем для шинной промышленности
                    </h3>
                    <div class="press-center__card-date">
                        04 окт
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item news__list-item--form">
                <div class="subscription-form">
                    <img class="subscription-form__bg" src="images/news/form-bg.png" alt="">
                    <h3 class="subscription-form__heading">Подпишитесь на&nbsp;новостную рассылку</h3>
                    <p class="subscription-form__text">Подпишитесь на наши новости, чтобы быть в курсе последних событий и полезных показателей компании.</p>
                    <form action="/" method="POST" class="subscription-form__form">
                        <input required name="email" class="subscription-form__input" type="email" placeholder="Почта">
                        <button class="subscription-form__submit" type="submit">Отправить</button>
                    </form>
                </div>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        Чем КЗПМ порадует гостей выставки interplastica 2022?
                    </h3>
                    <div class="press-center__card-date">
                        29 авг
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li class="news__list-item">
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        Легкоплавкая и тисненая пленка КЗПМ — тандем для шинной промышленности
                    </h3>
                    <div class="press-center__card-date">
                        04 окт
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
        </ul>
        <div class="news__load-more-wrapper">
            <a href="#" class="news__load-more">
                → Загрузить еще
            </a>
        </div>
        <div class="news__mass-media">
            <div class="news__mass-media-top-row">
                <div class="news__mass-media-left-col">
                    <h2 class="news__mass-media-heading">
                        Для СМИ
                    </h2>
                    <div class="news__mass-media-secondary-heading">
                        Контакты<br> и презентации
                    </div>
                    <div class="news__mass-media-secondary-text">
                        Мы всегда рады общению с вами. Наша задача – быстрое предоставление качественных комментариев по
                        вашим запросам
                    </div>
                </div>
                <div class="news__mass-media-right-col">
                    <ul class="news__mass-media-docs-list">
                        <li class="news__mass-media-docs-list-item">
                            <a href="#" class="news__mass-media-docs-card">
                                <h4 class="news__mass-media-docs-card-title">
                                    Каталог продукции
                                </h4>
                                <div class="news__mass-media-docs-card-row">
                                    <div class="news__mass-media-docs-card-info">
                                        PDF 4.49 МБ 27.02.2023
                                    </div>
                                    <div class="news__mass-media-docs-card-download">
                                        <span>
                                            →
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="news__mass-media-docs-list-item">
                            <a href="#" class="news__mass-media-docs-card">
                                <h4 class="news__mass-media-docs-card-title">
                                    О компании
                                </h4>
                                <div class="news__mass-media-docs-card-row">
                                    <div class="news__mass-media-docs-card-info">
                                        PDF 3 МБ 27.02.2023
                                    </div>
                                    <div class="news__mass-media-docs-card-download">
                                        <span>
                                            →
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="news__mass-media-bottom-row">
                <div class="news__mass-media-image-card">
                    <img src="/images/news-mass-media.webp" alt="" class="news__mass-media-image-card-image">
                </div>
                <div class="news__mass-media-info-card">
                    <div class="news__mass-media-info-card-top-row">
                        <div class="news__mass-media-info-card-content">
                            <h3 class="news__mass-media-info-card-title">
                                Айрат Айратович
                            </h3>
                            <div class="news__mass-media-info-card-role">
                                Начальник управления, корпоративные коммуникации
                            </div>
                        </div>
                        <div class="news__mass-media-info-card-photo-container">
                            <img src="/images/ceo.webp" alt="" class="news__mass-media-info-card-photo-image">
                        </div>
                    </div>
                    <ul class="news__mass-media-info-card-list">
                        <li class="news__mass-media-info-card-list-item">
                            <h4 class="news__mass-media-contact-card-title">
                                Отдел продаж
                            </h4>
                            <a href="tel:+78555244124" class="news__mass-media-contact-card-link">
                                +7 (8555) 244-124
                            </a>
                        </li>
                        <li class="news__mass-media-info-card-list-item">
                            <h4 class="news__mass-media-contact-card-title">
                                Почта
                            </h4>
                            <a href="mailto:mail@kzpm.com" class="news__mass-media-contact-card-link">mail@kzpm.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
