<section class="news-list">
    <div class="news-list__content">
        <h2 class="news-list__heading">Пресс-центр</h2>
        <div class="news-list__secondary-heading">Читайте далее</div>
        <ul class="news-list__list">
            <li>
                {{> news-card }}
            </li>
            <li>
                {{> news-card }}
            </li>
            <li>
                {{> news-card }}
            </li>
            <li>
                {{> news-card }}
            </li>
            <li>
                {{> news-card }}
            </li>
        </ul>
    </div>
</section>
