<section class="news-list">
    <div class="news-list__content">
        <h2 class="news-list__heading">Пресс-центр</h2>
        <div class="news-list__secondary-heading">Читайте далее</div>
        <ul class="news-list__list">
            <li>
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="press-center__card">
                    <h3 class="press-center__card-title">
                        ООО «КЗПМ» информирует о смене генерального директора
                    </h3>
                    <div class="press-center__card-date">
                        03 июн
                    </div>
                    <div class="press-center__card-info">
                        Новости / 2022
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
