<section class="partners">
    <div class="partners__content">
        <h2 class="partners__heading">
            Уже работают с нами
        </h2>
        <div class="partners__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/1.webp" alt="" class="partners__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/2.webp" alt="" class="partners__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/3.webp" alt="" class="partners__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__slider-card">
                            <img src="/images/partners/4.webp" alt="" class="partners__slider-card-image"
                                loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>