<section class="press-center">
    <div class="press-center__content">
        <div class="press-center__top-row">
            <div class="press-center__wrapper">
                <a href="#" class="press-center__heading">
                    Пресс-центр <span>→</span>
                </a>
                <div class="press-center__tabs-nav">
                    <a href="#" class="press-center__tabs-nav-link active">
                        Новости
                    </a>
                    <a href="#" class="press-center__tabs-nav-link">
                        Сми о нас
                    </a>
                </div>
            </div>
            <div class="press-center__read-also">
                <h3 class="press-center__read-also-title">
                    Читайте нас также
                </h3>
                <ul class="press-center__social-list">
                    <li class="press-center__social-list-item">
                        <a href="#" class="press-center__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="press-center__social-list-item">
                        <a href="#" class="press-center__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="press-center__tabs-items">
            <div class="press-center__tabs-item active">
                <div class="press-center__slider js-press-center-slider">
                    <div class="press-center__slider-wrapper">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center__card">
                                        <h3 class="press-center__card-title">
                                            ООО «КЗПМ» информирует о смене генерального директора
                                        </h3>
                                        <div class="press-center__card-date">
                                            03 июнь
                                        </div>
                                        <div class="press-center__card-info">
                                            Новости / 2022
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center__card">
                                        <h3 class="press-center__card-title">
                                            ООО «КЗПМ» информирует о смене генерального директора
                                        </h3>
                                        <div class="press-center__card-date">
                                            29 авг
                                        </div>
                                        <div class="press-center__card-info">
                                            Новости / 2022
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center__card">
                                        <h3 class="press-center__card-title">
                                            Легкоплавкая и тисненая пленка КЗПМ — тандем для шинной промышленности
                                        </h3>
                                        <div class="press-center__card-date">
                                            04 окт
                                        </div>
                                        <div class="press-center__card-info">
                                            Новости / 2022
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center__card">
                                        <h3 class="press-center__card-title">
                                            ООО «КЗПМ» информирует о смене генерального директора
                                        </h3>
                                        <div class="press-center__card-date">
                                            30 окт
                                        </div>
                                        <div class="press-center__card-info">
                                            Новости / 2022
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="press-center__arrows">
                        <button class="press-center__arrows-btn press-center__arrows-btn--prev">
                            ←
                        </button>
                        <button class="press-center__arrows-btn press-center__arrows-btn--next">
                            →
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="press-center__show-all-wrapper">
            <a href="#" class="press-center__show-all">
                → Смотреть все
            </a>
        </div>

    </div>
</section>