<section class="product">
    <div class="product__content">
        <div class="product__row">
            <div class="product__left-col">
                <div class="product__breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    <a href="#">
                        Продукция и решения
                    </a>
                    <a href="#" class="active">
                        FFS пленка
                    </a>
                </div>
                <h1 class="product__heading">
                    FFS пленка (полотно, рукав)
                </h1>
                <ul class="product__tags-list">
                    <li class="product__tags-list-item">
                        <a href="#" class="product__tags-link">
                            Химия и нефтехимия
                        </a>
                    </li>
                    <li class="product__tags-list-item">
                        <a href="#" class="product__tags-link">
                            Строительство
                        </a>
                    </li>
                </ul>
                <div class="product__desc">
                    FFS-упаковка обеспечивает высокую степень герметичности и защиты продукта от внешних воздействий,
                    таких как влага, свет и воздух, сохраняя его свежесть и качество. Надежное запечатывание и полная
                    герметичность для ваших сыпучих продуктов.
                </div>
                <ul class="product__photos-list">
                    <li class="product__photos-list-item">
                        <a href="/images/product/1.webp" class="product__photos-link" data-fancybox="product">
                            <img src="/images/product/1.webp" alt="" class="product__photos-image">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="product__photos-list-item">
                        <a href="/images/product/2.webp" class="product__photos-link" data-fancybox="product">
                            <img src="/images/product/2.webp" alt="" class="product__photos-image">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product__right-col">
                <div class="product__image-wrapper">
                    <div class="product__image-mobile-wrapper">


                        <img src="/images/product-detail.webp" alt="" class="product__image">
                    </div>
                    <div class="product__features">
                        <div class="product__features-item">
                            <div class="product__features-item-icon">
                                <div class="product__features-item-icon-inner">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#feature-1"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="product__features-item-title">
                                Влагостойкость
                            </h3>
                        </div>
                        <div class="product__features-item">
                            <div class="product__features-item-icon">
                                <div class="product__features-item-icon-inner">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#feature-2"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="product__features-item-title">
                                Антистатичность
                            </h3>
                        </div>
                        <div class="product__features-item">
                            <div class="product__features-item-icon">
                                <div class="product__features-item-icon-inner">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#feature-3"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="product__features-item-title">
                                Стойкость к агрессивным
                                средам
                            </h3>
                        </div>
                        <div class="product__features-item">
                            <div class="product__features-item-icon">
                                <div class="product__features-item-icon-inner">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#feature-4"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="product__features-item-title">
                                Морозостойкость
                            </h3>
                        </div>
                        <div class="product__features-item">
                            <div class="product__features-item-icon">
                                <div class="product__features-item-icon-inner">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#feature-5"></use>
                                    </svg>
                                </div>
                            </div>
                            <h3 class="product__features-item-title">
                                Стойкость к воздействию ультрафиолетового излучения
                            </h3>
                        </div>
                    </div>
                </div>
                <a href="#" class="product__model">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#360"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="product__tabs js-tabs">
            <div class="product__tabs-nav">
                <ul class="product__tabs-nav-list">
                    <li class="product__tabs-nav-list-item">
                        <a href="#" class="product__tabs-nav-link js-tabs-btn">
                            Технические характистики
                        </a>
                    </li>
                    <li class="product__tabs-nav-list-item">
                        <a href="#" class="product__tabs-nav-link js-tabs-btn">
                            Технологические особенности
                        </a>
                    </li>
                    <li class="product__tabs-nav-list-item">
                        <a href="#" class="product__tabs-nav-link js-tabs-btn">
                            Преимущества
                        </a>
                    </li>
                    <li class="product__tabs-nav-list-item">
                        <a href="#" class="product__tabs-nav-link js-tabs-btn">
                            Сертификаты
                        </a>
                    </li>
                    <li class="product__tabs-nav-list-item">
                        <a href="#" class="product__tabs-nav-link js-tabs-btn">
                            Дополнительные опции
                        </a>
                    </li>
                </ul>
            </div>
            <div class="product__tabs-items">
                <div class="product__tabs-item js-tabs-item">
                    <div class="product__numbers">
                        <ul class="product__numbers-list">
                            <li class="product__numbers-list-item">
                                <div class="product__numbers-card">
                                    <div class="product__numbers-card-amount">
                                        <b>120 - 200</b> мкм
                                    </div>
                                    <div class="product__numbers-card-text">
                                        Толщина пленки мкм
                                    </div>
                                </div>
                            </li>
                            <li class="product__numbers-list-item">
                                <div class="product__numbers-card">
                                    <div class="product__numbers-card-amount">
                                        <b>250 - 500</b> мм
                                    </div>
                                    <div class="product__numbers-card-text">
                                        Ширина пленки, мм, не менее
                                    </div>
                                </div>
                            </li>
                            <li class="product__numbers-list-item">
                                <div class="product__numbers-card">
                                    <div class="product__numbers-card-amount">
                                        <b>1 300</b> мм
                                    </div>
                                    <div class="product__numbers-card-text">
                                        Диаметр рулона, мм, не более
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product__tabs-item js-tabs-item">
                    <div class="product__specs">
                        <a href="/images/product-specs.svg" class="product__specs-image-link"
                            data-fancybox="specs-image">
                            <img src="/images/product-specs.svg" alt="" class="product__specs-image">
                        </a>

                        <div class="product__specs-text">
                            Технология упаковки stretch hood не нуждается в термовоздействии, что обеспечивает
                            безопасность
                            производства при упаковке на деревянных поддонах и упаковке быстровозгараемых продуктов
                        </div>
                    </div>

                </div>
                <div class="product__tabs-item js-tabs-item">
                    <div class="product__advantages">
                        <ul class="product__advantages-list">
                            <li class="product__advantages-list-item">
                                <div class="product__advantages-card">
                                    <img src="/images/product-advantages/1.svg" alt=""
                                        class="product__advantages-card-icon">
                                    <h3 class="product__advantages-card-title">
                                        Высокое сопротивление
                                        проколу и раздиру
                                    </h3>
                                </div>
                            </li>
                            <li class="product__advantages-list-item">
                                <div class="product__advantages-card">
                                    <img src="/images/product-advantages/2.svg" alt=""
                                        class="product__advantages-card-icon">
                                    <h3 class="product__advantages-card-title">
                                        Безопасное наружное хранение
                                        ваших продуктов
                                    </h3>
                                </div>
                            </li>
                            <li class="product__advantages-list-item">
                                <div class="product__advantages-card">
                                    <img src="/images/product-advantages/3.svg" alt=""
                                        class="product__advantages-card-icon">
                                    <h3 class="product__advantages-card-title">
                                        Хорошие оптические
                                        свойства
                                    </h3>
                                </div>
                            </li>
                            <li class="product__advantages-list-item">
                                <div class="product__advantages-card">
                                    <img src="/images/product-advantages/4.svg" alt=""
                                        class="product__advantages-card-icon">
                                    <h3 class="product__advantages-card-title">
                                        Эффективная реклама ваших продуктов посредством нанесения многоцветной
                                        флексографской печати
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product__tabs-item js-tabs-item">
                    <div class="product__documents">
                        <ul class="product__documents-list">
                            <li class="product__documents-list-item">
                                <a href="/images/product-documents/1.webp" class="product__documents-card"
                                    data-fancybox="documents">
                                    <div class="product__documents-card-image-container">
                                        <img src="/images/product-documents/1.webp" alt=""
                                            class="product__documents-card-image">
                                    </div>
                                    <h3 class="product__documents-card-title">
                                        Документ
                                        <span class="product__documents-card-format">
                                            .pdf
                                        </span>
                                    </h3>
                                </a>
                            </li>
                            <li class="product__documents-list-item">
                                <a href="/images/product-documents/2.webp" class="product__documents-card"
                                    data-fancybox="documents">
                                    <div class="product__documents-card-image-container">
                                        <img src="/images/product-documents/2.webp" alt=""
                                            class="product__documents-card-image">
                                    </div>
                                    <h3 class="product__documents-card-title">
                                        Документ
                                        <span class="product__documents-card-format">
                                            .pdf
                                        </span>
                                    </h3>
                                </a>
                            </li>
                            <li class="product__documents-list-item">
                                <a href="/images/product-documents/3.webp" class="product__documents-card"
                                    data-fancybox="documents">
                                    <div class="product__documents-card-image-container">
                                        <img src="/images/product-documents/3.webp" alt=""
                                            class="product__documents-card-image">
                                    </div>
                                    <h3 class="product__documents-card-title">
                                        Документ
                                        <span class="product__documents-card-format">
                                            .pdf
                                        </span>
                                    </h3>
                                </a>
                            </li>
                            <li class="product__documents-list-item">
                                <a href="/images/product-documents/4.webp" class="product__documents-card"
                                    data-fancybox="documents">
                                    <div class="product__documents-card-image-container">
                                        <img src="/images/product-documents/4.webp" alt=""
                                            class="product__documents-card-image">
                                    </div>
                                    <h3 class="product__documents-card-title">
                                        Документ
                                        <span class="product__documents-card-format">
                                            .pdf
                                        </span>
                                    </h3>
                                </a>
                            </li>
                            <li class="product__documents-list-item">
                                <a href="/images/product-documents/5.webp" class="product__documents-card"
                                    data-fancybox="documents">
                                    <div class="product__documents-card-image-container">
                                        <img src="/images/product-documents/5.webp" alt=""
                                            class="product__documents-card-image">
                                    </div>
                                    <h3 class="product__documents-card-title">
                                        Документ
                                        <span class="product__documents-card-format">
                                            .pdf
                                        </span>
                                    </h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product__tabs-item js-tabs-item">
                    <div class="product__options">
                        <ul class="product__options-list">
                            <li class="product__options-list-item">
                                <div class="product__options-card">
                                    <img src="/images/product-options/1.svg" alt="" class="product__options-card-icon">
                                    <h3 class="product__options-card-title">
                                        Нанесение многоцветной флексографской печати
                                    </h3>
                                </div>
                            </li>
                            <li class="product__options-list-item">
                                <div class="product__options-card">
                                    <img src="/images/product-options/2.svg" alt="" class="product__options-card-icon">
                                    <h3 class="product__options-card-title">
                                        Возможность подбора<br>
                                        цвета
                                    </h3>
                                </div>
                            </li>
                            <li class="product__options-list-item">
                                <div class="product__options-card">
                                    <img src="/images/product-options/3.svg" alt="" class="product__options-card-icon">
                                    <h3 class="product__options-card-title">
                                        Обеспечение антистатических
                                        свойств поверхности
                                    </h3>
                                </div>
                            </li>
                            <li class="product__options-list-item">
                                <div class="product__options-card">
                                    <img src="/images/product-options/4.svg" alt="" class="product__options-card-icon">
                                    <h3 class="product__options-card-title">
                                        Вариативная<br>
                                        адгезия
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__other">
            <h2 class="product__other-heading">
                Смотрите также
            </h2>
            <div class="product__other-slider js-others-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="product__other-slider-card">
                                <div class="product__other-slider-card-image-container">
                                    <img src="/images/catalog/1.webp" alt="" class="product__other-slider-card-image">
                                </div>
                                <h3 class="product__other-slider-card-title">
                                    FFS пленка (полотно, рукав)
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="product__other-slider-card">
                                <div class="product__other-slider-card-image-container">
                                    <img src="/images/catalog/2.webp" alt="" class="product__other-slider-card-image">
                                </div>
                                <h3 class="product__other-slider-card-title">
                                    Stretch-hood пленка
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="product__other-slider-card">
                                <div class="product__other-slider-card-image-container">
                                    <img src="/images/catalog/3-full.webp" alt=""
                                        class="product__other-slider-card-image">

                                </div>
                                <h3 class="product__other-slider-card-title">
                                    Термоусадочная пленка
                                </h3>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="product__other-slider-card">
                                <div class="product__other-slider-card-image-container">
                                    <img src="/images/catalog/4.webp" alt="" class="product__other-slider-card-image">

                                </div>
                                <h3 class="product__other-slider-card-title">
                                    Вкладыши
                                    полиэтиленовые
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>