<section class="secret">
    <div class="secret__slider">
        <div class="secret__slider-bg">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="secret__slider-bg-card">
                            <img src="/images/secret-bg.webp" alt="" class="secret__slider-bg-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="secret__slider-bg-card">
                            <img src="/images/about-intro-image.webp" alt="" class="secret__slider-bg-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secret__slider-inner">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="secret__slider-inner-card">
                            <h3 class="secret__slider-inner-card-title">
                                Секрет успеха
                            </h3>
                            <div class="secret__slider-inner-card-text">
                                Предприятия оснащено самым современным технологическим
                                и лабораторным оборудованием
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="secret__slider-inner-card">
                            <h3 class="secret__slider-inner-card-title">
                                Второй слайд
                            </h3>
                            <div class="secret__slider-inner-card-text">
                                Предприятия оснащено самым современным технологическим
                                и лабораторным оборудованием
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secret__slider-wrapper">
        <div class="secret__slider-controls">
            <button class="secret__slider-arrow secret__slider-arrow--prev">
                ←
            </button>
            <div class="secret__slider-pagination">

            </div>
            <button class="secret__slider-arrow secret__slider-arrow--next">
                →
            </button>
        </div>
    </div>

</section>