<section class="solutions">
    <div class="solutions__content">
        <h2 class="solutions__heading">
            Надежные решения в <b>гибкой полимерной упаковке</b>
        </h2>
        <div class="solutions__slider js-solutions-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/1.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Пищевая промышленность
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/2.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    8 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Химия
                                    и&nbsp;нефтехимия
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/3.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    4 позиции
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Строительство
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/4.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    4 позиции
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Логистика
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/2.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    8 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Удобрения
                                    и&nbsp;торфогрунт
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/4.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Агросектор
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/1.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Бытовая
                                    техника
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/2.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Шинная
                                    промышленность
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/3.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Обработка дерева
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="solutions__slider-card">
                            <img src="/images/solutions/1.svg" alt="" class="solutions__slider-card-icon">
                            <div class="solutions__slider-card-content">
                                <div class="solutions__slider-card-amount">
                                    6 позиций
                                </div>
                                <h3 class="solutions__slider-card-title">
                                    Обработка металла
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="solutions__slider-more-wrapper">


            <a href="#" class="solutions__slider-more-link">
                <span>
                    →
                </span>

                Смотреть все товары (52)
            </a>
        </div>
    </div>
</section>