<section class="trust">
    <div class="trust__content">
        <h2 class="trust__heading">
            Почему нам доверяют партнеры?
        </h2>
        <h3 class="trust__secondary-heading">
            <b>Мы открыты</b> для новых встреч
            и интересных проектов.
        </h3>
        <div class="trust__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/1.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Индивидуально и комплексно подходим
                                к задачам
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/2.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Разрабатываем адаптированные решения
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/3.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Применяем новаторские идеи
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/4.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                У нас значительный опыт и надежная репутация
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/1.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Индивидуально и комплексно подходим
                                к задачам
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/2.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Разрабатываем адаптированные решения
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/3.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                Применяем новаторские идеи
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust__slider-card">
                            <img src="/images/trust/4.svg" alt="" class="trust__slider-card-icon">
                            <h4 class="trust__slider-card-title">
                                У нас значительный опыт и надежная репутация
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trust__arrows-wrapper">
                <div class="trust__arrows">
                    <button class="trust__arrows-btn trust__arrows-btn--prev">
                        ←
                    </button>
                    <button class="trust__arrows-btn trust__arrows-btn--next">
                        →
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>