.additional-links {
  @include blockWrapper;
  position: relative;
  z-index: 5;
  border-radius: 0px 0px 4rem 4rem;
  padding-bottom: 11rem;
  background-color: #fff;

  @include breakpoint(mobile) {
    border-radius: 0px 0px 1.6rem 1.6rem;
    padding-bottom: 3.2rem;
  }
}

.additional-links__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.additional-links__heading {
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.364rem;
  margin-bottom: 3.6rem;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.08rem;
    margin-bottom: 2rem;
    br {
      display: none;
    }
  }
}

.additional-links__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 4rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
  }
}

.additional-links__list-item {
  display: flex;
  flex-direction: column;
}

.additional-links__card {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  border-radius: 4rem 4rem 33.5rem 4rem;
  background: #f1f2f8;
  min-height: 67rem;
  flex-grow: 1;
  gap: 3rem;
  justify-content: space-between;

  @include breakpoint(mobile) {
    padding: 2rem;
    min-height: 21rem;
    border-radius: 1.2rem 1.2rem 8rem 1.2rem;
  }
}

.additional-links__card-top-row {
  display: flex;
  align-items: flex-start;
  gap: 9rem;
  justify-content: space-between;

  @include breakpoint(mobile) {
    gap: 2rem;
  }
}

.additional-links__card-title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.42rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.1rem;
  }

  b {
    color: var(--primary-color);
    font-style: italic;
    font-weight: inherit;
  }
}

.additional-links__card-image-container {
  width: 24rem;
  height: 24rem;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  @include breakpoint(mobile) {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.additional-links__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.additional-links__card-text {
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.22rem;
  gap: 1rem;
  display: flex;
  align-items: center;

  svg {
    width: 3.4rem;
    height: 3.4rem;
    flex-shrink: 0;
    fill: currentColor;
  }

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -0.126rem;
    gap: 0.6rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
