.page-header {
  @include blockWrapper;
  background-color: #fff;
  position: relative;
  z-index: 70;
  border-bottom: 1px solid #dedde3;

  width: 100%;
}

.page-header__burger {
  display: none;

  @include breakpoint(mobile) {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: auto;
    gap: 0.6rem;
    & > span {
      width: 3.2rem;
      height: 1px;
      background-color: currentColor;
      transition: transform 0.2s;
    }
  }
}

.page-header__content {
  @include blockContent;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2.4rem 0;

  @include breakpoint(mobile) {
    padding: 2rem 0;
    gap: 2rem;
  }
}

.page-header__logo {
  width: 28.6rem;
  height: auto;
  flex-shrink: 0;
  margin-right: auto;

  @include breakpoint(mobile) {
    width: 13rem;
  }
}

.page-header__logo-image {
  display: block;
  width: 100%;
  height: auto;
}

.page-header__menu {
  display: contents;

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__nav {
  flex-shrink: 0;
  margin-right: auto;

  @include breakpoint(mobile) {
    flex-shrink: 1;
    margin: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.page-header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.6rem;
  row-gap: 1.8rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-header__nav-list-item {
  flex-shrink: 0;
}

.page-header__nav-link {
  display: block;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.078rem;

  @include breakpoint(mobile) {
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(21, 20, 22, 0.2);
    }
  }
}

.page-header__languages {
  margin-right: auto;
  flex-shrink: 0;
}

.page-header__languages-link {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.078rem;
  gap: 1rem;

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }

  @media (hover: hover) {
    &:hover {
      color: rgba(21, 20, 22, 0.2);
    }
  }
}
