.secret {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding-bottom: 20rem;

  @include breakpoint(mobile) {
    padding-bottom: 5rem;
  }
}

.secret__slider {
  @include blockWrapper;
  background-color: #000;
  color: white;

  @include breakpoint(mobile) {
    grid-row-gap: 3.6rem;
    background-color: transparent;
    color: var(--text-color);
  }
}

.secret__slider-bg {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(mobile) {
    grid-row: 2 / 3;
    aspect-ratio: 375 / 300;
    z-index: 40;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    pointer-events: none;
  }

  .swiper {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .swiper-wrapper {
    flex-grow: 1;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.secret__slider-bg-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.secret__slider-bg-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secret__slider-inner {
  @include blockContent;
  grid-row: 1 / 2;
  position: relative;
  z-index: 10;
}

.secret__slider-inner-card {
  display: flex;
  flex-direction: column;
  min-height: 80rem;
  padding: 10rem 0;

  @include breakpoint(mobile) {
    min-height: auto;
    padding: 0;
  }
}

.secret__slider-inner-card-title {
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.364rem;
  margin-bottom: 3.6rem;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.08rem;
    margin-bottom: 1.6rem;
  }
}

.secret__slider-inner-card-text {
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 106%;
  letter-spacing: -0.3rem;
  max-width: 155rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -0.182rem;
  }
}

.secret__slider-wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-gap: 4rem;

  @include breakpoint(mobile) {
    display: block;
    margin-top: 2rem;
  }
}

.secret__slider-controls {
  justify-self: flex-start;
  grid-column: 12 / -1;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @include breakpoint(mobile) {
    justify-content: center;
    align-items: center;
  }
}

.secret__slider-arrow {
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.22rem;
  transition: color 0.2s;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.1rem;
  }
  &.swiper-button-disabled {
    cursor: default;
    color: rgba(21, 20, 22, 0.2);
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.secret__slider-pagination {
  font-size: 4.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.22rem;
  flex-basis: 12rem;
  text-align: center;
  white-space: nowrap;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.1rem;
    flex-basis: 3rem;
  }
}
